@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
body{
    background-color:#2A0944;
    margin:0;
    padding:0;
    font-family: 'Manrope', sans-serif;
}
.heading{
    text-align:center;
    color:#F6F6F6;
    margin-bottom:100px;
}
.heading h3{
    font-size:24px;
}
.inputarea{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.inputarea input{
    width:300px;
    height:30px;
    border:none;
    border-radius:7px;
    outline:none;
    padding-left:10px;
    font-family: 'Manrope', sans-serif;
    font-size:18px;
}
.inputarea button{
    width:100px;
    height:35px;
    margin:10px;
    font-size:17px;
    border:none;
    border-radius:7px;
    background-color:#FFAB4C;
    font-family: 'Manrope', sans-serif;
    font-weight:bold;
    cursor: pointer;
}
.emojiarea{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.emojiarea p{
    font-size:30px;
    margin:15px;
}
.emojiname h3{
    text-align:center;
    font-size:20px;
    color:#F6F6F6;
}
